@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://v1.fontapi.ir/css/SFProDisplay:400;500");
@import url("https://db.onlinewebfonts.com/c/5dd039d5b7942caa5edb325265ba72d1?family=Nympha+Trial");
.wrapper .container h2 {
  font-family: "Nympha Trial";
  font-weight: 400;
}

.wrapper .container .top a {
  font-family: "SF Pro Display";
  color: rgb(242, 242, 242);
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

.wrapper .container .name > div :last-child {
  font-family: "Nympha Trial";
  color: rgb(214, 208, 206);
  font-size: 24px;
  font-weight: 400;
  line-height: 121.4%;
}

.wrapper .container .name > div :first-child {
  font-family: "DM Mono";
  color: rgb(214, 208, 206);
  font-size: 16px;
  font-weight: 400;
  line-height: 121.4%;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(3, 3, 3);
}
.wrapper .container {
  padding: 0 85px 0 87px;
}
.wrapper .container img {
  display: block;
}
.wrapper .container .top {
  padding: 54px 15px 0 13px;
  margin-bottom: 372px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.wrapper .container .top img {
  width: 171px;
}
.wrapper .container h2 {
  margin: 0 auto;
}
.wrapper .container .mainpic {
  position: relative;
  margin-bottom: 93px;
}
.wrapper .container .mainpic h2 {
  color: rgb(255, 255, 255);
  font-size: 220px;
  position: absolute;
  z-index: 1;
  top: -137px;
  left: 258px;
}
.wrapper .container .name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 584px;
  margin: 0 auto;
  margin-bottom: 274px;
}
.wrapper .container .name > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrapper .container .name > div :first-child {
  margin-bottom: 8px;
}
.wrapper .container .img-girl {
  margin-bottom: 92px;
}
.wrapper .container .head3 {
  margin-bottom: 49px;
}
.wrapper .container .head3 h2 {
  color: rgb(141, 141, 141);
  font-size: 220px;
  text-align: center;
}
.wrapper .container .head3 img {
  position: relative;
  left: 239px;
  top: -151px;
}
.wrapper .container .img-lips {
  margin-bottom: 279px;
}
.wrapper .container .img567 {
  margin-right: 3px;
  margin-bottom: 584px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.wrapper .container .img567 .img6 {
  margin-bottom: 94px;
}
.wrapper .container .img567 .img5 {
  width: 646px;
  margin-bottom: 306px;
  padding-left: 71px;
}
.wrapper .container .img567 .img7 {
  width: 646px;
}
.wrapper .container .head345 {
  position: relative;
  margin-bottom: 441px;
}
.wrapper .container .head345 .img8 {
  position: absolute;
  left: 316px;
  top: -49px;
}
.wrapper .container .head345 .img8-1 {
  position: absolute;
  right: -85px;
  top: -27px;
}
.wrapper .container .head345 .heading3,
.wrapper .container .head345 .heading4,
.wrapper .container .head345 .heading5 {
  text-align: center;
  font-size: 260px;
}
.wrapper .container .head345 .heading3 {
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: rgb(141, 141, 141);
}
.wrapper .container .head345 .heading4 {
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: rgb(141, 141, 141);
}
.wrapper .container .head345 .heading5 {
  color: rgb(255, 255, 255);
}
.wrapper .container .foot {
  padding: 181px 0;
}
.wrapper .container .foot > div {
  height: 596px;
  position: relative;
}
.wrapper .container .foot > div h2 {
  color: rgb(255, 255, 255);
  font-size: 154px;
  position: absolute;
  top: 231px;
  left: 230px;
  z-index: 2;
}
.wrapper .container .foot > div .img9-1 {
  width: 357px;
  transform: rotate(6.92deg);
  position: absolute;
  top: 0;
  left: 157px;
}
.wrapper .container .foot > div .img9-2 {
  width: 410px;
  transform: rotate(-4.05deg);
  position: absolute;
  z-index: 1;
  top: 33px;
  left: 499px;
}
.wrapper .container .foot > div .img9-3 {
  width: 357px;
  transform: rotate(-8.2deg);
  position: absolute;
  top: 110px;
  right: 160px;
}/*# sourceMappingURL=style.css.map */